body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #8F87F1, #C68EFD, #FED2E2);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.image-button {
  background: white;
  border: 2px solid #ddd;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
}

.image-button img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 12px;
}

.image-button:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
  border-color: #fff;
}

@media (max-width: 600px) {
  .button-container {
    flex-direction: column;
    align-items: center;
  }

  .image-button img {
    width: 80px;
    height: 80px;
  }

  #autoclicker-time {
    width: 60%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
  }
}